@model E_OneWeb.Models.ViewModels.ReportTransferItemVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Laporan Pemindahan Aset";
}

<br />
<form method="post">
    <div class="row p-1 border">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body">
                    <input type="hidden" value="@ViewBag.Status" id="idstatus" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SearchItem" id="ItemsName_" />
                    <input type="hidden" asp-for="SearchLocationItem" id="SearchLocationItems_" />
                    <input type="hidden" asp-for="SearchRoomId" id="SearchRoomIds_" />
                    <input type="hidden" asp-for="SearchRoomName" id="SearchRoomNames_" />
                    <div class="col-12 border-bottom">
                        <h2 class="text-primary">@title</h2>
                    </div>

                    <div class="col-12 pt-4">
                        <div class="form-group row pt-2">

                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SearchItem, "Nama Aset", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-10">
                                        <div class="input-group">
                                            <input type="hidden" asp-for="SearchItemId" id="ItemId" />
                                            <input asp-for="SearchItem" id="ItemsName" class="form-control" disabled />
                                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#lookupItems" style="width:80px" id="btn-lookupitems"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SearchMonth, "Tahun/ bulan", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(Model => Model.SearchMonth, ViewBag.SearchMonthList as SelectList, "- Select a Month -", new { @class = "form-control", @id="SearchMonths" })

                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="SearchYear" class="form-control" style="row-gap" id="SearchYears" />

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row pt-2">
                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SearchLocationItem, "Gedung", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-10">
                                        <input asp-for="SearchLocationItem" class="form-control" style="row-gap" id="SearchLocationItems" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SearchRoomName, "Ruangan", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-10">
                                        <div class="input-group">

                                            <input type="hidden" asp-for="SearchRoomId" id="SearchRoomIds" />
                                            <input asp-for="SearchRoomName" id="SearchRoomNames" class="form-control" disabled />
                                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#lookuprooms" style="width:80px" id="btn-lookuproom"><i class="fa fa-search" aria-hidden="true"></i></button>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="form-group row py-4">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit" style="width:145px">Search</button>
                                <button class="btn btn-secondary" type="button" onclick="ClearSearch()" style="width:145px">Clear</button>

                            </div>
                        </div>

                        <div class="row py-2">
                            <div class="col-md-12">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-primary" type="button" title="Download data" onclick="Export()" id="exportfile" style="width:145px">Download <i class="fas fa-file-export"></i></button>
                                </div>

                            </div>
                        </div>

                    </div>
                   
                    <div class="p-2 border rounded" style="min-width:100px;overflow:scroll;">
                        <table id="tblData" class="table table-striped table-bordered" style="width:100%">
                            <thead class="thead-dark">
                                <tr class="table-info">
                                    <th>
                                        Kode
                                    </th>
                                    <th>
                                        Nama Aset
                                    </th>
                                    <th>
                                        Keterangan
                                    </th>
                                    <th>
                                        Tanggal Pemidahan
                                    </th>
                                    <th>
                                        Lokasi Sebelumnya
                                    </th>
                                    <th>
                                        Lokasi Saat ini
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>

        </div>


    </div>
</form>


<!-- Lookup Items -->
<div class="modal fade" id="lookupItems" tabindex="-1" aria-labelledby="lookupItemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lookupItemsLabel">Pilih Aset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <br />
                <div class="p-4 border rounded">
                    <table id="tblDataItems" class="table table-striped table-bordered table-hover table-striped dataTable" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th>
                                    Nama Aset
                                </th>
                                <th>
                                    Katagori
                                </th>
                                <th>
                                    Ruangan
                                </th>
                                <th>
                                    Gedung
                                </th>

                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Lookup Rooms -->
<div class="modal fade" id="lookuprooms" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pilih Ruangan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <br />
                <div class="p-4 border rounded">
                    <table id="tblDataRoom" class="table table-striped table-bordered table-hover table-striped dataTable" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th>
                                    Nama Ruangan
                                </th>
                                <th>
                                    Keterangan
                                </th>
                                <th>
                                    Gedung
                                </th>

                                <th style="display:none"></th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            loadDataTable();
            loadDataItems();
            loadDataRoom();
        });
        function Export() {
          
            var urlx = "/Admin/ReportTransferItem/Export";
            window.location = urlx;
        }
        function ClearSearch() {
            $("#ItemId").val('');
            $("#ItemsName").val('');
            $("#SearchMonths").val('');
            $("#SearchYears").val('');
            $("#SearchLocationItems").val('');
            $("#SearchRoomIds").val('');
            $("#SearchRoomNames").val('');
            $("#SearchRoomIds_").val('');
            $("#SearchRoomNames_").val('');
            $("#SearchLocationItems_").val('');
            $("#ItemsName_").val('');

        }   

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "order": [[0, "desc"]],
                "filter": false,
                "ajax": {
                    "url": "/Admin/ReportTransferItem/GetAll"
                },
                "columns": [
                    { "data": "code", "autoWidth": true },
                    { "data": "name", "autoWidth": true },
                    { "data": "description", "autoWidth": true },
                    { "data": "transferdate", "autoWidth": true },
                    { "data": "previousroom", "autoWidth": true },
                    { "data": "currentroom", "autoWidth": true },
                ],
                "createdRow": function (row, data, index) {

                }
            });
        }

        function loadDataItems() {
            dataTable = $('#tblDataItems').DataTable({
                "ajax": {
                    "url": "/Admin/ReportTransferItem/GetAllItems"
                },
                "columns": [
                    { "data": "name", "width": "30%" },
                    { "data": "category", "width": "30%" },
                    { "data": "room", "width": "10%" },
                    { "data": "location", "width": "30%" },
                    { "data": "id", "width": "10%" },
                    { "data": "roomid", "width": "10%" },
                    { "data": "name_of_room_and_location_", "width": "20%" }

                ],
                "createdRow": function (row, data, index) {
                    $(row).attr('onclick', 'select_row(this)');
                    $(row).attr('data-bs-dismiss', 'modal');
                    $('td', row).eq(4).attr('style', 'display:none;');
                    $('td', row).eq(5).attr('style', 'display:none;');
                    $('td', row).eq(6).attr('style', 'display:none;');
                },
            });
        }

        function select_row(obj) {
            var itemname = $('td', obj).eq(0).html().trim();
            var itemid = $('td', obj).eq(4).html().trim();          
            var name_of_room_and_location_ = $('td', obj).eq(6).html().trim();

            $('#ItemId').val(itemid); 
            $('#ItemsName').val(itemname);
            $('#ItemsName_').val(itemname);
            $('#SearchLocationItems').val(name_of_room_and_location_);
            $('#SearchLocationItems_').val(name_of_room_and_location_);
        }

        function loadDataRoom() {
            dataTable = $('#tblDataRoom').DataTable({
                "ajax": {
                    "url": "/Admin/ReportTransferItem/GetAllRoomAndLocation"
                },
                "columns": [
                    { "data": "name_of_room", "width": "30%" },
                    { "data": "description", "width": "30%" },
                    { "data": "name_of_location", "width": "30%" },
                    { "data": "id", "width": "10%" },
                    { "data": "name_of_room_and_location", "width": "10%" }

                ],
                "createdRow": function (row, data, index) {
                    $(row).attr('onclick', 'select_row2(this)');
                    $(row).attr('data-bs-dismiss', 'modal');
                    $('td', row).eq(3).attr('style', 'display:none;');
                    $('td', row).eq(4).attr('style', 'display:none;');
                },
            });
        }
        function select_row2(obj) {
            var name_of_room = $('td', obj).eq(0).html().trim();
            var id_of_room = $('td', obj).eq(3).html().trim();
            var name_of_room_and_location_ = $('td', obj).eq(4).html().trim();
            $('#SearchRoomNames').val(name_of_room_and_location_);
            $('#SearchRoomNames_').val(name_of_room_and_location_);
            $('#SearchRoomIds').val(id_of_room);
            $('#SearchRoomIds_').val(id_of_room)
        }
        

    </script>
}



