@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@*<h3>@ViewData["Title"]</h3>*@
<partial name="_StatusMessage" for="StatusMessage" />
@*<div class="row">
    <div class="d-flex justify-content-between justify-content-md-end mb-3">
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item"><a class="text-decoration-none @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
                <li class="list-group-item"><a class="text-decoration-none @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
             
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>*@

<div class="row">
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <br />
        <div class="row p-3 border">

            <div class="d-flex justify-content-between justify-content-md-end mb-3">
                <div class="p-2">
                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item"><a class="text-decoration-none @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
                        <li class="list-group-item"><a class="text-decoration-none @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 border-bottom py-2">
                <h2 class="text-primary">@ViewData["Title"]</h2>
            </div>
            <div class="col-md-12">
                <div class="form-floating py-2">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>                

            </div>            

            <br />

            <div class="form-group margin-bottom-2 pt-2">

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">                
                   @* <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>*@
                    <button class="w-100 btn btn-primary" type="submit">Update Password</button>
                </div>
            </div>         

        </div>

    </form>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
