@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@*<h3>@ViewData["Title"]</h3>*@

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <form id="profile-form" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <br />
        <div class="row p-3 border">
            
            <div class="col-12 border-bottom py-2">
                <h2 class="text-primary">@ViewData["Title"]</h2>
            </div>       
            <div class="col-md-6">
                <div class="form-floating py-2">
                    <input asp-for="Username" class="form-control" placeholder="User Name" disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="Input.FullName" placeholder="Name Lengkap" class="form-control" />
                    <label class="form-label">Name Lengkap</label>
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="Input.CardNumber" placeholder="NIM" class="form-control" />
                    <label class="form-label">NIM</label>
                    <span asp-validation-for="Input.CardNumber" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="Input.PostalCode" class="form-control" placeholder="Prodi" />
                    <label class="form-label">Prodi</label>
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>

                </div>

                <div class="form-floating py-2">
                    <input asp-for="Input.City" class="form-control" placeholder="Fakultas" />
                    <label class="form-label">Fakultas</label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>

                </div>

                <div class="form-floating py-2">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                 @*    <div class="card" style="width: 18rem;">
                        <img class="rounded float-end" src="@Model.Input.Photo" style="border-radius:5px; border:1px solid #bbb9b9">
                    </div> *@
                    @if (@Model.Input.Photo != null)
                    {                       
                        <div class="card" style="width: 18rem;">
                            <img class="rounded float-end" src="@Model.Input.Photo" style="border-radius:5px; border:1px solid #bbb9b9">
                        </div>
                    }
                    else
                    {
                        <div class="card" style="width: 18rem;">
                            <img class="rounded float-end" src="https://placehold.co/300x400/png" style="border-radius:5px; border:1px solid #bbb9b9">
                        </div>
                    }
                </div>
                <div class="form-floating py-2">
                    <input asp-for="Input.Photo" type="file" name="files" id="uploadBox" multiple class="form-control" placeholder="Photo Profile" />
                    <label class="form-label">Photo Profile</label>
                </div>
              
             
            </div>

            <br />          
     
            <div class="form-group margin-bottom-2 pt-2">
             
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button id="update-profile-button" type="submit" style="width:215px" class="btn btn-primary form-control">Save</button>
                </div>
            </div>
           
            
        </div>
        
        
        
        @*
        <div class="col-12 pt-4">
            <div class="form-group ">
                <div class="col-6">
                    <div class="form-group row pt-2">
                        <div class="col-md-6">
                            <div class="form-floating py-2">
                                <input asp-for="Username" class="form-control" placeholder="User Name" disabled />
                                <label asp-for="Username" class="form-label"></label>
                            </div>
                        </div>


                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-md-6">
                            <div class="form-floating py-2">
                                <input asp-for="Input.FullName" placeholder="Name Lengkap" class="form-control" />
                                <label class="form-label">Name Lengkap</label>
                                <span asp-validation-for="Input.FullName" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-md-6">
                            <div class="form-floating py-2">
                                <input asp-for="Input.CardNumber" placeholder="NIM" class="form-control" />
                                <label class="form-label">NIM</label>
                                <span asp-validation-for="Input.CardNumber" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-md-6">
                            <div class="form-floating py-2">
                                <input asp-for="Input.PostalCode" class="form-control" placeholder="Prodi" />
                                <label class="form-label">Prodi</label>
                                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>

                            </div>
                        </div>

                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-md-6">
                            <div class="form-floating py-2">
                                <input asp-for="Input.City" class="form-control" placeholder="Fakultas" />
                                <label class="form-label">Fakultas</label>
                                <span asp-validation-for="Input.City" class="text-danger"></span>

                            </div>
                        </div>

                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-md-6">
                            <div class="form-floating py-2">
                                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
                                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="col-md-12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <div class="card" style="width: 18rem;">
                           
                                <img class="rounded float-end" src="@Model.Input.Photo" style="border-radius:5px; border:1px solid #bbb9b9">
                            </div>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Input.Photo" type="file" name="files" id="uploadBox" multiple class="form-control" placeholder="Photo Profile" />                          
                            <span asp-validation-for="Input.Photo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>                 
           
            <button id="update-profile-button" type="submit" style="width:245px" class="btn btn-primary form-control">Save</button>
        </div>
       *@
    </form>
  
    
</div>

@section Scripts {   
    <partial name="_ValidationScriptsPartial" />
}
