@model E_OneWeb.Models.Room

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Tambah Area/ Ruangan";
    var title_btn = "Create";
}

<form method="post">
    <br />
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     @*   <input type="hidden" asp-for="IDLocation" id="IDLocation_" />*@
@*        <input type="hidden" asp-for="Location" id="Location" />*@
        <input type="hidden" value="@ViewBag.Status" id="idstatus" />
        @if ((Model.Id != 0 && @ViewBag.Status == "") || @ViewBag.Status == "Update Success")
        {
            //edit
            title = "Ubah Area/ Ruangan";
            title_btn = "Update";
            <input type="hidden" asp-for="Id" id="id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">               
                @Html.LabelFor(model => model.Name, "Nama", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="Name" class="form-control" style="row-gap" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">                
                @Html.LabelFor(model => model.Description, "Keterangan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
            </div>

        </div>
   
        <div class="form-group margin-bottom-2 pt-2">
            <div class="col-md-12 text-center">
                @if (Model.Id != 0)
                {
                  @*  <partial name="_EditAndBackToListButton" model="Model.Id" />*@
                    <button type="submit" id="btnSave" class="btn btn-primary form-control" style="width:145px">@title_btn</button>
                    @Html.ActionLink(" Back to List", "Upsert", "Room", new { id = Model.IDLocation }, new { id = "btn-backtolist", @class = "btn btn-success form-control" , @style="width:145px" })
                 
                }
                else
                {
                   @* <partial name="_CreateAndBackToListButton" />*@
                    <button type="submit" class="btn btn-primary form-control" style="width:145px">Create</button>
                    @Html.ActionLink(" Back to List", "Upsert", "Room", new { id = Model.IDLocation }, new { id = "btn-backtolist", @class = "btn btn-success form-control" , @style="width:145px" })
                    
                }
            </div>
        </div>
       

    </div>

    
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
      

        $(document).ready(function () {
   
            var status = $("#idstatus").val();

            if (status != "") {
                toastr.options.timeOut = 1500;
                toastr.success(status);
                $("#btnSave").attr("disabled", "disabled");

            }


        });
    </script>
}