@model E_OneWeb.Models.ViewModels.ItemServiceVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Tambah Servis";
}

<form method="post">
    <br />
    <div class="row p-3 border">
        <input type="hidden" value="@ViewBag.Status" id="idstatus" />
        <input type="hidden" asp-for="ItemService.Id" id="serviceid" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
        <div class="col-12 border-bottom">
            <h3 class="text-primary">@title</h3>
        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemService.Items.Name, "Nama Aset", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <div class="input-group">
                        <input type="hidden" asp-for="ItemService.Items.Id" id="ItemId" />
                        <input asp-for="ItemService.Items.Name" id="ItemsName" class="form-control" disabled />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.name_of_room_and_location, "Lokasi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="name_of_room_and_location" class="form-control" style="row-gap" id="LocationName" disabled />

                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemService.ServiceDate, "Tanggal Servis", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-4">
                    <input asp-for="ItemService.ServiceDate" class="form-control" type="date" />
                    <span asp-validation-for="ItemService.ServiceDate" class="text-danger"></span>
                </div>

                @Html.LabelFor(model => model.ItemService.ServiceEndDate, "Tanggal Selesai", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-4">
                    <input asp-for="ItemService.ServiceEndDate" class="form-control" type="date" />
                    <span asp-validation-for="ItemService.ServiceEndDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemService.RepairDescription, "Keterangan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <textarea asp-for="ItemService.RepairDescription" class="form-control"></textarea>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemService.Technician, "Teknisi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="ItemService.Technician" class="form-control" style="row-gap" />
                    <span asp-validation-for="ItemService.Technician" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemService.PhoneNumber, "No.Telepon", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="ItemService.PhoneNumber" class="form-control" style="row-gap" />
                    <span asp-validation-for="ItemService.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemService.Address, "Alamat", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <textarea asp-for="ItemService.Address" class="form-control"></textarea>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemService.RequestBy, "Permintaan dari", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="ItemService.RequestBy" class="form-control" style="row-gap" />
                    <span asp-validation-for="ItemService.RequestBy" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemService.CostOfRepair, "Nilai Servis", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input type="hidden" asp-for="ItemService.CostOfRepair" id="CostOfRepair" />
                    <input asp-for="CostOfRepairString" class="form-control" style="row-gap" onchange="changesAmount()" id="CostOfRepairString" />
                    <span asp-validation-for="ItemService.CostOfRepair" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="form-group margin-bottom-2 pt-4">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit" style="width:145px" id="btnSave">@title.Replace("Servis","")</button>
                @Html.ActionLink("Back to List", "ViewItemList", "Room", new { id = Model.ItemService.Items.RoomId }, new { id = "btn_tolist", @class = "btn btn-success form-control", @style = "width:145px"})
            </div>
        </div>



    </div>


</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            var amount = $("#CostOfRepair").val();
            $("#CostOfRepairString").val(numberWithCommas(amount));

            var status = $("#idstatus").val();
            if (status != "") {
                toastr.options.timeOut = 1500;
                toastr.success(status);
                $("#btnSave").attr("disabled", "disabled");

            }
            var serviceId = $('#serviceid').val();
            if (serviceId == 0) {
                $("#btn-lookupitems").removeAttr("disabled");
            }
            else {
                $("#btn-lookupitems").attr("disabled", "disabled");
            }
        });

        function changesAmount() {
            $("#CostOfRepair").val($("#CostOfRepairString").val().replace(/[,a-zA-Z]/g, ''));
            var a = $('#CostOfRepair').val();
            $('#CostOfRepairString').val(numberWithCommas(a));
        }
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }

        
        function select_row(obj) {
            var itemid = $('td', obj).eq(4).html().trim();
            var itemname = $('td', obj).eq(0).html().trim();
            var locationname = $('td', obj).eq(3).html().trim();
            var name_of_room_and_location_ = $('td', obj).eq(5).html().trim();

            $('#ItemsName').val(itemname);
            $('#LocationName').val(name_of_room_and_location_);
            $('#ItemId').val(itemid);
        }
    </script>
}