@model E_OneWeb.Models.ViewModels.ItemTransferVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Tambah Pemindahan Aset";
}
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<form method="post">
    <br />
    <div class="row p-3 border">
        <input type="hidden" value="@ViewBag.Status" id="idstatus" />
        <input type="hidden" asp-for="ItemTransfer.Id" id="transferid" />       
        <input type="hidden" asp-for="ItemTransfer.PreviousLocation" id="PreviousLocations" />
        <input type="hidden" asp-for="ItemTransfer.PreviousRoom" id="PreviousRooms" />
        <input type="hidden" asp-for="LocationPrevious" id="LocationPreviouss_" />

        <input type="hidden" asp-for="ItemTransfer.CurrentLocation" id="CurrentLocations" />
        <input type="hidden" asp-for="ItemTransfer.CurrentRoom" id="CurrentRooms" />
        <input type="hidden" asp-for="LocationCurrent" id="LocationCurrents_" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if ((Model.ItemTransfer.Id != 0 && @ViewBag.Status == "") || @ViewBag.Status == "Update Success")
        {
            //edit
            title = "Ubah Pemindahan Aset";
          @*  <input type="hidden" asp-for="ItemTransfer.Id" id="transferid" />*@
            <input type="hidden" asp-for="ItemTransfer.PreviousLocationId" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemTransfer.Items.Name, "Nama Aset", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <div class="input-group">
                        <input type="hidden" asp-for="ItemTransfer.Items.Id" id="ItemId" />
                        <input asp-for="ItemTransfer.Items.Name" id="ItemsName" class="form-control" disabled />           
                        
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#lookupItems" style="width:145px" id="btn-lookupitems"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>                 
                </div>
            </div>

        </div> 

    
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemTransfer.Description, "Keterangan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <textarea asp-for="ItemTransfer.Description" class="form-control"></textarea>
                </div>
            </div>

        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ItemTransfer.TransferDate, "Tanggal Pemindahan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="ItemTransfer.TransferDate" class="form-control" type="date" />
                    <span asp-validation-for="ItemTransfer.TransferDate" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.LocationPrevious, "Lokasi Sebelum", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input type="hidden" asp-for="ItemTransfer.PreviousLocationId" id="roomId" />    
                    <input asp-for="LocationPrevious" class="form-control" style="row-gap" id="LocationPreviouss" disabled />

                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.LocationCurrent, "Lokasi Saat Ini", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <div class="input-group">
                        <input type="hidden" asp-for="ItemTransfer.CurrentLocationId" id="CurrentLocationId" />
                        <input asp-for="LocationCurrent" id="LocationCurrents" class="form-control" disabled />
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#Modal1" style="width:145px" id="btn-lookuproom"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <span asp-validation-for="ItemTransfer.CurrentLocationId" class="text-danger"></span>
                    </div>

                </div>
            </div>

        </div>

        <br />


        <div class="form-group margin-bottom-2 pt-2">
            <div class="col-md-12 text-center">
                <button type="submit" id="btnSave" class="btn btn-primary form-control" style="width:145px">@title.Replace("Pemindahan Aset","")</button>
                <a asp-action="Index" class="btn btn-success form-control" style="width:145px">Kembali ke List</a>
            </div>
        </div>


    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="lookupItems" tabindex="-1" aria-labelledby="lookupItemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lookupItemsLabel">Pilih Aset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <br />
                <div class="p-4 border rounded">
                    <table id="tblDataItems" class="table table-striped table-bordered table-hover table-striped dataTable" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">                               
                                <th>
                                    Nama Aset
                                </th>
                                <th>
                                    Katagori
                                </th>
                                <th>
                                    Ruangan
                                </th>
                                <th>
                                    Gedung
                                </th>

                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pilih Lokasi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <br />
                <div class="p-4 border rounded">
                    <table id="tblDataRoom" class="table table-striped table-bordered table-hover table-striped dataTable" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th>
                                    Nama Ruangan
                                </th>
                                <th>
                                    Keterangan
                                </th>
                                <th>
                                    Gedung
                                </th>

                                <th style="display:none"></th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <partial name="_ValidationScriptsPartial" />
@*	<script src="~/js/getitem.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            loadDataItems();
            loadDataRoom();
            var status = $("#idstatus").val();

            if (status != "") {
                toastr.options.timeOut = 1500;
                toastr.success(status);
                $("#btnSave").attr("disabled", "disabled");

            }
            var transferidId = $('#transferid').val();
            if (transferidId == 0) {
                $("#btn-lookupitems").removeAttr("disabled");
            }
            else {
                $("#btn-lookupitems").attr("disabled", "disabled");
            }
        });      

        function loadDataRoom() {
            dataTable = $('#tblDataRoom').DataTable({
                "ajax": {
                    "url": "/Admin/ItemTransfer/GetAllRoomAndLocation"
                },
                "columns": [
                    { "data": "name_of_room", "width": "30%" },
                    { "data": "description", "width": "30%" },
                    { "data": "name_of_location", "width": "30%" },
                    { "data": "id", "width": "10%" },
                    { "data": "name_of_room_and_location", "width": "10%" }

                ],
                "createdRow": function (row, data, index) {
                    $(row).attr('onclick', 'select_row(this)');
                    $(row).attr('data-bs-dismiss', 'modal');
                    $('td', row).eq(3).attr('style', 'display:none;');
                    $('td', row).eq(4).attr('style', 'display:none;'); 
                },
            });
        }

        function select_row(obj) {
            var name_of_room = $('td', obj).eq(0).html().trim();
            var name_of_location = $('td', obj).eq(2).html().trim();
            var id_of_room = $('td', obj).eq(3).html().trim();
            var name_of_room_and_location_ = $('td', obj).eq(4).html().trim();

            $('#LocationCurrents').val(name_of_room_and_location_);
            $('#LocationCurrents_').val(name_of_room_and_location_);
            $('#CurrentLocations').val(name_of_location);
            $('#CurrentRooms').val(name_of_room);
            $('#CurrentLocationId').val(id_of_room);
        }

        function loadDataItems() {
            dataTable = $('#tblDataItems').DataTable({
                "ajax": {
                    "url": "/Admin/ItemTransfer/GetAllItems"
                },
                "columns": [
                    { "data": "name", "width": "30%" },
                    { "data": "category", "width": "30%" },
                    { "data": "room", "width": "10%" },
                    { "data": "location", "width": "30%" },
                    { "data": "id", "width": "10%" },
                    { "data": "roomid", "width": "10%" },
                    { "data": "name_of_room_and_location_", "width": "20%" }

                ],
                "createdRow": function (row, data, index) {
                    $(row).attr('onclick', 'select_row2(this)');
                    $(row).attr('data-bs-dismiss', 'modal');
                    $('td', row).eq(4).attr('style', 'display:none;');
                    $('td', row).eq(5).attr('style', 'display:none;');
                    $('td', row).eq(6).attr('style', 'display:none;');
                },
            });
        }

        function select_row2(obj) {
            var itemid = $('td', obj).eq(4).html().trim();
            var itemname = $('td', obj).eq(0).html().trim();
            var roodname = $('td', obj).eq(2).html().trim();
            var locationname = $('td', obj).eq(3).html().trim();
            var roodid = $('td', obj).eq(5).html().trim();
            var room_and_location = $('td', obj).eq(6).html().trim();
           

            $('#ItemId').val(itemid);
            $('#ItemsName').val(itemname);
            $('#PreviousRooms').val(roodname);
            $('#PreviousLocations').val(locationname);

            $('#roomId').val(roodid);
            $('#LocationPreviouss').val(room_and_location);
            $('#LocationPreviouss_').val(room_and_location);
        }

    
    </script>
}


    
	


