@model E_OneWeb.Models.ViewModels.ReportServiceVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Report Service And Mantenance";
}

<br />

<form method="post">
    <div class="row p-1 border">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body">
                    <input type="hidden" value="@ViewBag.Status" id="idstatus" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SearchItem" id="ItemsName_" />
                    <input type="hidden" asp-for="SearchLocationItem" id="SearchLocationItems_" />
                    <div class="col-12 border-bottom">
                        <h2 class="text-primary">@title</h2>
                    </div>

                    <div class="col-12 pt-4">
                        <div class="form-group row pt-2">

                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SearchItem, "Item", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="hidden" asp-for="SearchItemId" id="ItemId" />
                                            <input asp-for="SearchItem" id="ItemsName" class="form-control" disabled />
                                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#lookupItems" style="width:80px" id="btn-lookupitems"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-6">
                                <div class="form-group row">
                                    <div class="col-2">
                                        <label>Year/ Month</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(Model => Model.SearchMonth, ViewBag.SearchMonthList as SelectList, "- Select a Month -", new { @class = "form-control", @id="SearchMonths" })

                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="SearchYear" class="form-control" style="row-gap" id="SearchYears" />
                                        <span asp-validation-for="SearchYear" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row pt-2">
                            <div class="col-6">

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SearchLocationItem, "Location", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="col-md-10">
                                        <input asp-for="SearchLocationItem" class="form-control" style="row-gap" id="SearchLocationItems" disabled />

                                    </div>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="form-group row">

                                    @Html.LabelFor(model => model.SearchStatus, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-10">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.SearchStatus, ViewBag.SearchStatusList as SelectList, "- Select a Status -", new { @class = "form-control", @id="searchStatus" })
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="form-group row py-4">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit" style="width:145px">Search</button>
                                <button class="btn btn-secondary" type="button" onclick="ClearSearch()" style="width:145px">Clear</button>

                            </div>
                        </div>
                        <div class="col-12 border-bottom">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-primary" type="button" title="Download file" onclick="Export()" id="exportfile" style="width:145px">Download <i class="fas fa-file-export"></i></button>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="panel-body" style="min-width:100px;overflow:scroll;">
                        <table id="tblData" class="table table-striped table-hover dataTable no-search table-bordered">
                            <thead class="thead-dark ">
                                <tr class="table-info">
                                    <th>
                                        Code
                                    </th>
                                    <th>
                                        Item Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Service Date
                                    </th>
                                    <th>
                                        Service End Date
                                    </th>
                                    <th>
                                        Request By
                                    </th>
                                    <th>
                                        Cost Of Repair
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>

        </div>


    </div>
</form>

<!-- Lookup Items -->
<div class="modal fade" id="lookupItems" tabindex="-1" aria-labelledby="lookupItemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lookupItemsLabel">Choose Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <br />
                <div class="p-4 border rounded">
                    <table id="tblDataItems" class="table table-striped table-bordered table-hover table-striped dataTable" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Room
                                </th>
                                <th>
                                    Location
                                </th>

                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            loadDataItems();
            loadDataTable();
        });
        function loadDataItems() {
            dataTable = $('#tblDataItems').DataTable({
                "ajax": {
                    "url": "/Admin/ReportServiceItem/GetAllItems"
                },
                "columns": [
                    { "data": "name", "width": "30%" },
                    { "data": "category", "width": "30%" },
                    { "data": "room", "width": "10%" },
                    { "data": "location", "width": "30%" },
                    { "data": "id", "width": "10%" },
                    { "data": "roomid", "width": "10%" },
                    { "data": "name_of_room_and_location_", "width": "20%" }

                ],
                "createdRow": function (row, data, index) {
                    $(row).attr('onclick', 'select_row(this)');
                    $(row).attr('data-bs-dismiss', 'modal');
                    $('td', row).eq(4).attr('style', 'display:none;');
                    $('td', row).eq(5).attr('style', 'display:none;');
                    $('td', row).eq(6).attr('style', 'display:none;');
                },
            });
        }
        function select_row(obj) {
            var itemname = $('td', obj).eq(0).html().trim();
            var itemid = $('td', obj).eq(4).html().trim();
            var name_of_room_and_location_ = $('td', obj).eq(6).html().trim();

            $('#ItemId').val(itemid);
            $('#ItemsName').val(itemname);
            $('#ItemsName_').val(itemname);
            $('#SearchLocationItems').val(name_of_room_and_location_);
            $('#SearchLocationItems_').val(name_of_room_and_location_);
        }
        function Export() {

            var urlx = "@Url.Action("Export", "ReportServiceItem")";
            window.location = urlx;

        }
       
        function ClearSearch() {
            $("#ItemId").val('');
            $("#ItemsName").val('');
            $("#ItemsName_").val('');
            $("#SearchMonths").val('');
            $("#SearchYears").val('');
            $("#SearchLocationItems").val('');
            $("#SearchLocationItems_").val('');
            $("#searchStatus").val('');          
        }

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "order": [[0, "desc"]],
                "filter": false,
                "ajax": {
                    "url": "/Admin/ReportServiceItem/GetAll"
                },
                "columns": [
                    { "data": "code", "autoWidth": true },
                    { "data": "name", "autoWidth": true },
                    { "data": "description", "autoWidth": true },
                    { "data": "servicedate", "autoWidth": true },
                    { "data": "serviceenddate", "autoWidth": true },
                    { "data": "requestby", "autoWidth": true },
                    { "data": "cost", "autoWidth": true },
                    { "data": "status", "autoWidth": true },
                ],
                "createdRow": function (row, data, index) {

                }
            });
        }

    </script>
}



