
@model IEnumerable<E_OneWeb.Models.Article>


<div class="row pb-3 backgroundWhite">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12  p-1" style="border:1px solid #008cba; border-radius: 1px;">
                    <div class="card" style="border:0px;">
                        <div class="pl-1">
                            <p class="card-title h5 text-lg-center"><b style="color:white"> @item.Title</b></p>
                            @if (@item.Content.Count() > 150)
                            {
                                <p class="card-title text-primary"><b> @item.Content.Replace("<p>","").Replace("</p>","").Replace("<br>","").Replace("<br />","").ToString().Substring(0,150)....</b></p>
                            }else
                            {
                                <p class="card-title text-primary"><b>@item.Content.Replace("<p>","").Replace("</p>","").Replace("<br>","").Replace("<br />","")</b></p>
                            }
                            
                           
                        </div>
                        <div style="padding-left:5px;">
                            <p>By: @item.EntryBy</p>
                            <p>Entry Date: <b class="">@item.EntryDate.Value.ToString("dd-MM-yyyy")</b></p>
                        </div>
                       @* <div style="padding-left:5px;">
                            
                        </div>*@

                        <div>
                            <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@item.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>
