@model E_OneWeb.Models.ViewModels.RequestItemHeaderVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Request item";
}

<br />
<form method="post" enctype="multipart/form-data">
    <div class="row p-1 border">

        <input type="hidden" value="@ViewBag.Status" id="idstatus" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RequestItemHeader.Id" id="IdHeader" />
        @if ((Model.RequestItemHeader.Id != 0 && @ViewBag.Status == "") || @ViewBag.Status == "Edit Success")
        {
            //edit
            title = "Update Request item";
            <input type="hidden" asp-for="RequestItemHeader.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-12 pt-4">
            <div class="form-group row pt-2">

                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-3">
                            Ref Number
                        </div>
                        <div class="col-9">
                            <input asp-for="RequestItemHeader.Name" class="form-control" style="row-gap" />
                            <span asp-validation-for="RequestItemHeader.Name" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-3">
                            Request Date
                        </div>
                        <div class="col-9">
                            <input asp-for="RequestItemHeader.RequestDate" class="form-control" type="date" />
                            <span asp-validation-for="RequestItemHeader.RequestDate" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row pt-2">
                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-3">
                            Requester
                        </div>
                        <div class="col-9">
                            <input asp-for="RequestItemHeader.Requester" class="form-control" style="row-gap" />
                            <span asp-validation-for="RequestItemHeader.Requester" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-3">
                            File
                        </div>
                        <div class="col-9">
                            <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                        </div>
                    </div>

                </div>


            </div>


            <div class="form-group row pt-2">

                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-3">
                            Specification
                        </div>
                        <div class="col-9">
                            <input asp-for="RequestItemHeader.Description" class="form-control" style="row-gap" />
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-12">
                        </div>

                    </div>

                </div>
            </div>




            <div class="form-group row py-4">
                <div class="col-5 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" id="btnSave" class="btn btn-primary form-control">@title.Replace("Request item","")</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div class="col-12 border-bottom">
            <h1 class="text-primary"></h1>
        </div>

        <div class="row py-2">
            <div class="col-md-12">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#lookupItems" style="width:145px" id="btn-lookupitems"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add Item</button>
                </div>

            </div>
        </div>


        <div class="p-2 border rounded">
            <table id="tblDataAddItems" class="table table-striped table-bordered" style="width:100%">
                <thead class="thead-dark">
                    <tr class="table-info">
                        <th>
                            Item Name
                        </th>
                        <th>
                            Category Name
                        </th>
                        <th>
                            Reason
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Total
                        </th>

                       @* <th style="min-width:100px"></th>*@
                    </tr>
                </thead>
            </table>
        </div>


    </div>

    <br />
    <div class="row py-2">
        <div class="col-md-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="form-group row">
                    <div class="col-4">
                        <label>Grand Total</label>
                    </div>
                    <div class="col-8">
                        <input type="hidden" asp-for="RequestItemHeader.TotalAmount" id="grandtotal" />
                        <input asp-for="GrandTotalString" class="form-control text-end" style="row-gap" id="GrandTotalString" disabled />
                        <span asp-validation-for="RequestItemHeader.TotalAmount" class="text-danger"></span>
                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="lookupItems" tabindex="-1" aria-labelledby="lookupItemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lookupItemsLabel">Add Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="col-12 pt-2">
                    <div class="form-group row">
                        <div class="col-2">
                            Item Name
                        </div>
                        <div class="col-10">
                            <div class="input-group">
                                <input asp-for="RequestItemDetail.Name" id="itemname" class="form-control" style="row-gap" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 pt-2">
                    <div class="form-group row">
                        <div class="col-2">
                            Category Name
                        </div>
                     @*   <div class="col-10">
                            <div class="input-group">
                                <input asp-for="RequestItemDetail.Category" id="category" class="form-control" style="row-gap" />
                            </div>
                        </div>*@
                        <div class="col-10">
                            <input type="hidden" asp-for="RequestItemDetail.Category" id="category" />
                            @Html.DropDownListFor(model => model.ListCategory, ViewBag.CategoryList as SelectList, "- Select a Category -", new { @class = "form-control", @id = "SearchCategory" })
                           @* <span asp-validation-for="RequestItemDetail.Category" class="text-danger"></span>*@
                        </div>
                    </div>

                </div>
                <div class="col-12 pt-2">
                    <div class="form-group row">
                        <div class="col-2">
                            Reason
                        </div>
                        <div class="col-10">
                            <div class="input-group">
                                <textarea asp-for="RequestItemDetail.Reason" id="reason" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 pt-2">
                    <div class="form-group row">
                        <div class="col-2">
                            Price
                        </div>
                        <div class="col-10">
                            <div class="input-group">
                                <input type="hidden" asp-for="RequestItemDetail.Price" id="price" />
                                <input asp-for="PriceString" class="form-control" style="row-gap" onchange="changesqty()" id="PriceString" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 pt-2">
                    <div class="form-group row">
                        <div class="col-2">
                            Qty
                        </div>
                        <div class="col-10">
                            <div class="input-group">
                                <input asp-for="RequestItemDetail.Qty" class="form-control" style="row-gap" onchange="changesqty()" id="qty" />
                                <span asp-validation-for="RequestItemDetail.Qty" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 pt-2">
                    <div class="form-group row">
                        <div class="col-2">
                            Total
                        </div>
                        <div class="col-10">
                            <div class="input-group">
                                <input type="hidden" asp-for="RequestItemDetail.Total" id="totalamount" />
                                <input asp-for="TotalAmountString" class="form-control" style="row-gap" id="TotalAmountString" disabled />
                                <span asp-validation-for="RequestItemDetail.Total" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
    
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="AddItem()" data-bs-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{

   @* <script src="~/js/Items.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            loadDataItems();
            var a = $("#grandtotal").val();
            $("#GrandTotalString").val(numberWithCommas(a));
        });
        $("#SearchCategory").change(function () {
            var cat = $("#SearchCategory").val();
            $('#category').val(cat);
        });
        function changesqty() {
            $("#price").val($("#PriceString").val().replace(/[,a-zA-Z]/g, ''));
            var a = $('#qty').val();
            var b = $('#price').val();
            var c = a * b;
            $('#totalamount').val(c);
            $('#TotalAmountString').val(numberWithCommas(c));
            $('#PriceString').val(numberWithCommas(b));
        }
        //function changesAmount() {
        //    $("#CostOfRepair").val($("#CostOfRepairString").val().replace(/[,a-zA-Z]/g, ''));
        //    var a = $('#CostOfRepair').val();
        //    $('#CostOfRepairString').val(numberWithCommas(a));
        //}
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }
        function loadDataItems() {
            //var id = $('#IdHeader').val();
            var table = $('#tblDataAddItems').DataTable();
            //clear datatable
            table.clear().draw();
            //destroy datatable
            table.destroy();
            dataTable = $('#tblDataAddItems').DataTable({
                "ajax": {
                    "url": "/Admin/RequestItems/GetAllItems"
                },
                "paging": false,
                "searching": false,
                "columns": [
                    { "data": "itemname", "width": "20%" },
                    { "data": "category", "width": "20%" },
                    { "data": "reason", "width": "30%" },
                    { "data": "price", "width": "20%" },
                    { "data": "qty", "width": "10%" },
                    { "data": "total", "width": "30%" }
                ],              
            });
        }       
      
        function AddItem() {
    

            //IntervalID = setTimer();
            //$('#myModal2').modal({ backdrop: 'static', keyboard: false });
            var name = $("#itemname").val();
            var category = $("#category").val();
            var reason = $("#reason").val();
            var price = $("#price").val();
            var qty = $("#qty").val();
            var total = $("#totalamount").val();
            var urls = "/Admin/RequestItems/AddItem?name=" + name + "&category=" + category + "&reason=" + reason + "&price=" + price + "&qty=" + qty + "&total=" + total;

            try {
                $.ajax({
                    url: urls,
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json;',
                    //data: JSON.stringify(dataparameter),
                    success: function (data) {
                        if (data.result == "true") {
                           
                        }
                        //else { grandtotal
                         
                        //}
                        loadDataItems();
                        $("#itemname").val('');
                        $("#category").val('');
                        $("#reason").val('');

                        $("#price").val('');
                        $("#PriceString").val('');
                        $("#qty").val('');
                        $("#totalamount").val('');
                        $("#TotalAmountString").val('');
                        $("#grandtotal").val(data.grandtotal);
                        $('#GrandTotalString').val(numberWithCommas(data.grandtotal));
                    },
                    error: function (request, status, error) {
                        console.log(status);
                        console.log(urls, status, error.toString());
                        console.log("error" + error);
                      
                    }
                });

            } catch (e) {

            }

        }
    </script>

  
}



