@model E_OneWeb.Models.ViewModels.RequestItemHeaderVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Tambah Permintaan";
}

<br />
<form method="post" enctype="multipart/form-data">
    <div class="row p-1 border">

        <input type="hidden" value="@ViewBag.Status" id="idstatus" />
        <input type="hidden" value="@ViewBag.fileDownload" id="filedownload" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RequestItemHeader.Id" id="IdHeader" />
        @if ((Model.RequestItemHeader.Id != 0 && @ViewBag.Status == "") || @ViewBag.Status == "Update Success")
        {
            //edit
            title = "Ubah Permintaan";
            <input type="hidden" asp-for="RequestItemHeader.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-12 pt-4">
            <div class="form-group row pt-2">

                <div class="col-6">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemHeader.ReqNumber, "No.Referensi", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-9">
                            <input asp-for="RequestItemHeader.ReqNumber" class="form-control" style="row-gap" />
                            <span asp-validation-for="RequestItemHeader.ReqNumber" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemHeader.RequestDate, "Tanggal Permintaan", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-9">
                            <input asp-for="RequestItemHeader.RequestDate" class="form-control" type="date" />
                            <span asp-validation-for="RequestItemHeader.RequestDate" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row pt-2">
                <div class="col-6">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemHeader.Requester, "Permintaan dari", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-9">
                            <input asp-for="RequestItemHeader.Requester" class="form-control" style="row-gap" />
                            <span asp-validation-for="RequestItemHeader.Requester" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemHeader.Requester, "File", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-9">
                            <input type="file" name="files" id="uploadBox" multiple class="form-control" />                           
                        </div>
                    </div>

                </div>


            </div>
            
            <div class="form-group row py-4">
                <div class="col-5 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" id="btnSave" class="btn btn-primary form-control">@title.Replace("Permintaan","")</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Kembali ke List</a>
                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div class="col-12 border-bottom">
            <h1 class="text-primary"></h1>
        </div>

        <div class="row py-2">
            <div class="col-md-12">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" title="Add item" data-bs-target="#lookupItems" style="width:145px" id="btn-lookupitems"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Tambah Aset</button>
                    <button class="btn btn-primary" type="button" title="Download file" onclick="Export()" id="exportfile"><i class="fas fa-file-export"></i></button>
                </div>

            </div>
        </div>


        <div class="p-2 border rounded">
            <table id="tblDataAddItems" class="table table-striped table-bordered" style="width:100%">
                <thead class="thead-dark">
                    <tr class="table-info">
                        <th>
                            Nama Aset
                        </th>
                        <th>
                            Katagori
                        </th>
                        <th>
                            Spesifikasi
                        </th>
                        <th>
                            Nilai
                        </th>
                        <th>
                            Jumlah
                        </th>
                        <th>
                            Total Nilai
                        </th>
                        <th>
                            Status
                        </th>
                        <th style="min-width:100px"></th>
                    </tr>
                </thead>
            </table>
        </div>


    </div>

    <br />
    <div class="row py-2">
        <div class="col-md-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="form-group row">
                    <div class="col-4">
                        <label>Grand Total</label>
                    </div>
                    <div class="col-8">
                        <input type="hidden" asp-for="RequestItemHeader.TotalAmount" id="grandtotal" />
                        <input asp-for="GrandTotalString" class="form-control text-end" style="row-gap" id="GrandTotalString" disabled />
                        <span asp-validation-for="RequestItemHeader.TotalAmount" class="text-danger"></span>
                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="lookupItems" tabindex="-1" aria-labelledby="lookupItemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lookupItemsLabel">Tambah Aset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="col-12 pt-2">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemDetail.Name, "Nama Aset", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-10">
                            <div class="input-group">
                                <input asp-for="RequestItemDetail.Name" id="itemname" class="form-control" style="row-gap" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 pt-2">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemDetail.Category, "Katagori", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-10">
                            <input type="hidden" asp-for="RequestItemDetail.Category" id="category" />
                            @Html.DropDownListFor(model => model.ListCategory, ViewBag.CategoryList as SelectList, "- Select a Category -", new { @class = "form-control", @id = "SearchCategory" })
                      
                        </div>
                    </div>

                </div>
                <div class="col-12 pt-2">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemDetail.Reason, "Catatan", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-10">
                            <div class="input-group">
                                <textarea asp-for="RequestItemDetail.Reason" id="reason" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 pt-2">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemDetail.Specification, "Spesifikasi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-10">
                            <div class="input-group">
                                <textarea asp-for="RequestItemDetail.Specification" id="spesifik" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            
                <div class="col-12 pt-2">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemDetail.Price, "Nilai", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-10">
                            <div class="input-group">
                                <input type="hidden" asp-for="RequestItemDetail.Price" id="price" />
                                <input asp-for="PriceString" class="form-control" style="row-gap" onchange="changesqty()" id="PriceString" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 pt-2">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemDetail.Qty, "Jumlah", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-10">
                            <div class="input-group">
                                <input asp-for="RequestItemDetail.Qty" class="form-control" style="row-gap" onchange="changesqty()" id="qty" />
                                <span asp-validation-for="RequestItemDetail.Qty" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 pt-2">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestItemDetail.Total, "Total Nilai", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-10">
                            <div class="input-group">
                                <input type="hidden" asp-for="RequestItemDetail.Total" id="totalamount" />
                                <input asp-for="TotalAmountString" class="form-control" style="row-gap" id="TotalAmountString" disabled />
                                <span asp-validation-for="RequestItemDetail.Total" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
    
             <div class="modal-footer">              
                <button type="button" class="btn btn-primary" onclick="AddItem()" data-bs-dismiss="modal">Tambah</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
   @* <script src="~/js/Items.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            loadDataItems();
            var a = $("#grandtotal").val();
            $("#GrandTotalString").val(numberWithCommas(a));

            if ($("#filedownload").val() == "true") {
                $("#exportfile").removeAttr("disabled");
            }else
            {
                $("#exportfile").attr("disabled", "disabled");                
            }
        });
        $("#SearchCategory").change(function () {
            var cat = $("#SearchCategory").val();
            $('#category').val(cat);
        });
        function changesqty() {
            $("#price").val($("#PriceString").val().replace(/[,a-zA-Z]/g, ''));
            var a = $('#qty').val();
            var b = $('#price').val();
            var c = a * b;
            $('#totalamount').val(c);
            $('#TotalAmountString').val(numberWithCommas(c));
            $('#PriceString').val(numberWithCommas(b));
        }
        //function changesAmount() {
        //    $("#CostOfRepair").val($("#CostOfRepairString").val().replace(/[,a-zA-Z]/g, ''));
        //    var a = $('#CostOfRepair').val();
        //    $('#CostOfRepairString').val(numberWithCommas(a));
        //}
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }
        function loadDataItems() {
            var id = $('#IdHeader').val();
            var table = $('#tblDataAddItems').DataTable();
            //clear datatable
            table.clear().draw();
            //destroy datatable
            table.destroy();
            dataTable = $('#tblDataAddItems').DataTable({
                "ajax": {
                    "url": "/Admin/RequestItems/GetAllItems",
                    "data": {
                        "id": id
                    }
                },
                "paging": false,
                "searching": false,
                "columns": [
                    { "data": "itemname", "autoWidth": true },
                    { "data": "category", "autoWidth": true },
                    { "data": "spesifik", "autoWidth": true },
                    { "data": "price", "autoWidth": true },
                    { "data": "qty", "autoWidth": true },
                    { "data": "total", "autoWidth": true },
                    { "data": "status", "autoWidth": true },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `
                                    <div class="text-center">

                                        <a onclick=Delete("/Admin/RequestItems/DeleteItem/${data}") class="btn btn-danger text-white" style="cursor:pointer">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                   `;
                        }, "autoWidth": true
                    }
                ],              
            });
        }
        function Delete(url) {
            swal({
                title: "Are you sure you want to Delete?",
                text: "You will not be able to restore the data!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                $("#grandtotal").val(data.grandtotal);
                                var a = $("#grandtotal").val();
                                $("#GrandTotalString").val(numberWithCommas(a));
                                toastr.success(data.message);
                                dataTable.ajax.reload();
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }
      
        function AddItem() {
    
            var name = $("#itemname").val();
            var category = $("#category").val();
            var reason = $("#reason").val();
            var price = $("#price").val();
            var qty = $("#qty").val();
            var total = $("#totalamount").val();
            var spesifikasi = $("#spesifik").val();

            if (name != "" && category != "" && price != "" && qty != "")
            {
                var urls = "/Admin/RequestItems/AddItem?name=" + name + "&category=" + category + "&reason=" + reason + "&price=" + price + "&qty=" + qty + "&total=" + total + "&spesifik=" + spesifikasi;

                try {
                    $.ajax({
                        url: urls,
                        dataType: 'json',
                        type: 'POST',
                        contentType: 'application/json;',
                        //data: JSON.stringify(dataparameter),
                        success: function (data) {
                            if (data.result == "true") {

                            }
                            //else { grandtotal

                            //}
                            loadDataItems();
                            $("#itemname").val('');
                            $("#category").val('');
                            $("#reason").val('');
                            $("#spesifik").val('');
                            $("#price").val('');
                            $("#PriceString").val('');
                            $("#qty").val('');
                            $("#totalamount").val('');
                            $("#TotalAmountString").val('');
                            $("#grandtotal").val(data.grandtotal);
                            $('#GrandTotalString').val(numberWithCommas(data.grandtotal));
                        },
                        error: function (request, status, error) {
                            console.log(status);
                            console.log(urls, status, error.toString());
                            console.log("error" + error);

                        }
                    });

                } catch (e) {

                }
            }            

        }

        function Export() {   
            var id = $('#IdHeader').val();
            var urlx = "/Admin/RequestItems/Export/" + id;
            window.location = urlx;

        }
    </script>

  
}



