@model E_OneWeb.Models.ViewModels.ItemsVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Tambah Aset";
}

<form method="post">
    <br />
    <div class="row p-3 border">
        <input type="hidden" value="@ViewBag.Status" id="idstatus" />
        <input type="hidden" asp-for="Items.Period" id="Period_" />
        <input type="hidden" asp-for="Percent_String" id="Percent_" />
        <input type="hidden" asp-for="Items.Id" id="itemID" />
        <input type="hidden" asp-for="Items.DepreciationExpense" id="DepreciationExpense_" />
        <input type="hidden" asp-for="DepreciationExpenseString" id="DepreciationExpenseString_" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        @if ((Model.Items.Id != 0 && @ViewBag.Status == "") || @ViewBag.Status == "Update Success")
        {
            //edit
            title = "Ubah Aset";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">               
                @Html.LabelFor(model => model.Items.Code, "Kode", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="Items.Code" class="form-control" style="row-gap" id="codes" />
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">   
                @Html.LabelFor(model => model.Items.Name, "Nama Aset", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="Items.Name" class="form-control" style="row-gap" />
                    <span asp-validation-for="Items.Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">                
                @Html.LabelFor(model => model.Items.Description, "Keterangan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <textarea asp-for="Items.Description" class="form-control"></textarea>
                </div>
            </div>

        </div>        
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.StartDate, "Tanggal Perolehan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="Items.StartDate" class="form-control" type="date" />
                    <span asp-validation-for="Items.StartDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.Category, "Katagori", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    @Html.DropDownListFor(Model => Model.Items.CategoryId , Model.CategoryList, "- Select a Category -",
                    new { @Class = "form-control", @id="SearchCategory"})
                    <span asp-validation-for="Items.CategoryId" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.Percent, "Persen", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-4">
                    <input asp-for="Percent_String" step="0.01" type="number" class="form-control" id="Percent_Strings" disabled />
                    <span asp-validation-for="Items.Percent" class="text-danger"></span>
                </div>
                @Html.LabelFor(model => model.Items.Period, "Period /tahun", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-4">
                    <input asp-for="Items.Period" class="form-control" style="row-gap" id="period" disabled />
                    <span asp-validation-for="Items.Period" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.Price, "Nilai Aset", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input type="hidden" asp-for="Items.Price" id="price" />
                    <input asp-for="PriceString" class="form-control" style="row-gap" onchange="changesqty()" id="PriceString" />
                @*    <span asp-validation-for="Items.Price" class="text-danger"></span>*@
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.Qty, "Jumlah", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="Items.Qty" class="form-control" style="row-gap" onchange="changesqty()" id="qty" />
                    <span asp-validation-for="Items.Qty" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.TotalAmount, "Total Nilai", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input type="hidden" asp-for="Items.TotalAmount" id="totalamount" />
                    @* <input asp-for="TotalAmountString" asp-format="{0:#,###}" asp-format="{0:N}" class="form-control" />*@
                    <input asp-for="TotalAmountString" class="form-control" style="row-gap" id="TotalAmountString"  disabled />                
                    <span asp-validation-for="Items.TotalAmount" class="text-danger"></span>
                </div>
            </div>

        </div>       

       

        @if (@ViewBag.Status == "Update Success")
        {
            <div class="col-12 pt-2">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Items.DepreciationExpense, "Nilai Buku", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-10">
                        <input value="@ViewBag.DepreciationExpense" id="DepreciationExpenses" class="form-control" style="row-gap" disabled />
                        @*<input asp-for="DepreciationExpenseString" class="form-control" style="row-gap" id="DepreciationExpenseString" disabled />*@                      
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-12 pt-2">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Items.DepreciationExpense, "Nilai Buku", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-10">
                        @*   <input type="hidden" asp-for="Items.DepreciationExpense" id="depreciationexpense" />*@
                        <input asp-for="DepreciationExpenseString" class="form-control" style="row-gap" id="DepreciationExpenseString" disabled />
                    </div>
                </div>
            </div>
        }
        <div class="col-12 pt-2">
            <div class="form-group row">      
                @Html.LabelFor(model => model.Items.OriginOfGoods, "Kepemilikan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    @Html.DropDownListFor(Model => Model.Items.OriginOfGoods, ViewBag.OwnershipList as SelectList, "- Select a Ownership -", new { @class = "form-control" })
                    <span asp-validation-for="Items.OriginOfGoods" class="text-danger"></span>
                </div>
            </div>

        </div>    
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.Room.Location.Name, "Lokasi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <div class="input-group">
                        <input type="hidden" asp-for="Items.RoomId" id="RoomId" />
                        <input asp-for="Items.Room.Location.Name" id="LocationName" class="form-control" disabled />
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#Modal1" style="width:145px" id="btn-lookuproom"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <span asp-validation-for="Items.RoomId" class="text-danger"></span>
                    </div>
                   
                </div>
            </div>

        </div>     
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.Room.Name, "Ruangan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <div class="input-group">                  
                        <input asp-for="Items.Room.Name" id="RoomName" class="form-control" disabled />                   
                    </div>

                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.Condition, "Kondisi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">             
                    @Html.DropDownListFor(Model => Model.Items.Condition, ViewBag.ConditionList as SelectList, "- Select a Condition -", new { @class = "form-control" })
                    <span asp-validation-for="Items.Condition" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.Items.Status, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    @Html.DropDownListFor(model => model.Items.Status, ViewBag.StatusList as SelectList, "- Select a Status -", new { @class = "form-control" })
                    <span asp-validation-for="Items.Status" class="text-danger"></span>
                </div>
            </div>

        </div>
    
        <br />  
 
        <div class="form-group margin-bottom-2 pt-4">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit" style="width:145px" id="btnSave">@title.Replace("Items","")</button>
                <a asp-action="Index" class="btn btn-success form-control" style="width:145px">Kembali ke List</a>
            </div>
        </div>

        @if ((Model.Items.Id != 0 && @ViewBag.Status == "") || @ViewBag.Status == "Update Success")
        {
            //edit
            <br />
            <div id="accordion" class="col-12 pt-2">

                <div class="card">
                    <div class="card-header d-md-flex justify-content-md-end">
                        <a class="btn" data-bs-toggle="collapse" href="#historytranfer">
                            Pemindahan Aset  <i class="indicator fa fa-chevron-circle-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="historytranfer">

                        <div class="panel-body" style="min-width:100%;overflow:scroll">
                            <div class="p-4 border rounded" >
                                <table id="tblDataTransfer" class="table table-striped table-bordered" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr class="table-info">

                                            <th>
                                                Tanggal Pemindahan
                                            </th>
                                            <th>
                                                Sebelum (Gedung)
                                            </th>
                                            <th>
                                                Sebelum (Ruangan)
                                            </th>
                                            <th>
                                                Setelah (Gedung)
                                            </th>
                                            <th>
                                                Setelah (Ruangan)
                                            </th>
                                            <th>
                                                Keterangan
                                            </th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>


                            <br />


                        </div>
                    </div>

                </div>
              
                <div class="card">
                    <div class="card-header d-md-flex justify-content-md-end">
                        <a class="btn" data-bs-toggle="collapse" href="#historyservice">
                            Servis Aset  <i class="indicator fa fa-chevron-circle-down"></i>
                        </a>
                    </div>
                    <div class="collapse" id="historyservice">

                        <div class="panel-body" style="min-width:100%;overflow:scroll">
                            <div class="p-4 border rounded">
                                <table id="tblDataService" class="table table-striped table-bordered" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr class="table-info">

                                            <th>
                                                Tanggal Servis
                                            </th>
                                            <th>
                                                Tanggal Selesai
                                            </th>
                                            <th>
                                                Keterangan
                                            </th>
                                            <th>
                                                Teknisi
                                            </th>
                                            <th>
                                                No.Telepon
                                            </th>
                                            <th>
                                                Diminta Oleh
                                            </th>
                                            <th>
                                                Nilai Servis
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <br />


                        </div>
                    </div>

                </div>


            </div>
        }
        
        
    </div>


</form>

<!-- Modal -->
<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pilih Lokasi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <br />
                <div class="p-4 border rounded">
                    <table id="tblData" class="table table-striped table-bordered table-hover table-striped dataTable" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th>
                                    Nama Ruangan
                                </th>
                                <th>
                                    Keterangan
                                </th>                            
                                <th>
                                    Gedung
                                </th>

                                <th style="display:none"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
             <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>          
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
	@*<script src="~/js/getroombylocation.js"></script>*@
	@*<script src="~/js/transferitembyid.js"></script>*@
    <script type="text/javascript">

        function changesqty() {
            $("#price").val($("#PriceString").val().replace(/[,a-zA-Z]/g, ''));
            var a = $('#qty').val();
            var b = $('#price').val();
            var c = a * b;
            $('#totalamount').val(c);   
            $('#TotalAmountString').val(numberWithCommas(c));
            $('#PriceString').val(numberWithCommas(b));
        }
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }

        function onclick()
        {
            var y = $("#PriceString").val().replace(/,/g, "");
            $('#PriceString').val(y);
        }
        //var y = $("#basicsalary").val().replace(/,/g, "");
        
        //function changespercent() {
        //    var a = $('#totalamount').val();
        //    var b = $('#percent').val();
        //    var c = a * b / 100;
        //    $('#depreciationexpense').val(c);

        //}
        $("#SearchCategory").change(function () {           
            GetDateCategory();

        });

        function GetDateCategory() {
            var id = $("#SearchCategory").val();
            var urls = "/Admin/Items/GetDateCategory/" + id;

            $.ajax({
                url: urls,
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json;',
                success: function (data) {                 
                    $("#percent").val(data.persent_);
                    $("#period").val(data.period_);

                    $("#Percent_").val(data.persent_);
                    $("#Period_").val(data.period_);

                    var Percent_String = data.persent_;
                    $('#Percent_Strings').val(Percent_String);
                },
                error: function (request, status, error) {
                    //console.log("error" + error);
                }
            });
        }
    
        $(document).ready(function () {
            loadDataRoom();
            loadDataTransfer();
            loadDataService();
            var price = $("#price").val();
            $("#PriceString").val(numberWithCommas(price));

            var totalamount = $("#totalamount").val();
            $("#TotalAmountString").val(numberWithCommas(totalamount));

            var expance = $("#DepreciationExpense_").val();
            $("#DepreciationExpenseString").val(numberWithCommas(expance));
            

            var ItemID = $('#itemID').val();
            if (ItemID == 0) {
                $("#btn-lookuproom").removeAttr("disabled");
            }
            else {
                $("#btn-lookuproom").attr("disabled", "disabled");
               
            }
           
            var status = $("#idstatus").val();
            if (status != "") {
                toastr.options.timeOut = 1500;
                toastr.success(status); 
                $("#btnSave").attr("disabled", "disabled");
                
            }
          
        
        });
        function loadDataRoom() {           
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    "url": "/Admin/Items/GetAllRoomAndLocation"
                },
                "columns": [
                    { "data": "name_of_room", "width": "30%" },
                    { "data": "description", "width": "30%" },
                    { "data": "name_of_location", "width": "30%" },
                    { "data": "id", "width": "10%" }
                ],
                "createdRow": function (row, data, index) {
                    $(row).attr('onclick', 'select_row(this)');
                    $(row).attr('data-bs-dismiss', 'modal');
                    $('td', row).eq(3).attr('style', 'display:none;');
                },
            });
        }

        function select_row(obj) {
            var name_of_room = $('td', obj).eq(0).html().trim();
            var name_of_location = $('td', obj).eq(2).html().trim();
            var id_of_room = $('td', obj).eq(3).html().trim();

            $('#RoomName').val(name_of_room);
            $('#LocationName').val(name_of_location);
            $('#RoomId').val(id_of_room);
        }

        function loadDataTransfer() {
            var ItemID = $('#itemID').val();
            dataTable = $('#tblDataTransfer').DataTable({
                "ajax": {
                    "url": "/Admin/Items/GetTransferItem",
                    "data": {
                        "id": ItemID
                    }
                },
                "columns": [
                    { "data": "stranferdate", "width": "20%" },
                    { "data": "previouslocation", "width": "20%" },
                    { "data": "previousroom", "width": "20%" },
                    { "data": "currentlocation", "width": "20%" },
                    { "data": "currentroom", "width": "20%" },
                    { "data": "desc", "width": "30%" }
                ]
            });
        }

        function loadDataService() {
            var ItemID = $('#itemID').val();
            dataTable = $('#tblDataService').DataTable({
                "ajax": {
                    "url": "/Admin/Items/GetServiceItem",
                    "data": {
                        "id": ItemID
                    }
                },
                "columns": [
                    { "data": "servicedate", "width": "20%" },
                    { "data": "serviceenddate", "width": "20%" },
                    { "data": "desc", "width": "20%" },
                    { "data": "tecnician", "width": "20%" },
                    { "data": "phone", "width": "20%" },
                    { "data": "requestby", "width": "20%" },
                    { "data": "costofrepair", "width": "20%" }
                ]
            });
        }
    </script>
}