@model E_OneWeb.Models.ViewModels.RoomReservationUserVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Pinjam Ruang Kelas";
    // var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
}
<partial name="_StatusMessage" for="StatusMessage" />



<form method="post" enctype="multipart/form-data">
    <input type="hidden" value="@ViewBag.Status" id="idstatus" />

    @if (@ViewBag.Status != "" || ViewBag.Status != null)
    {
        if (@ViewBag.Status.Contains("Error"))
        {
            <p class='alert alert-danger alert-dismissable text-center' id='alert'>
                @ViewBag.Reason
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </p>


        }

        if (@ViewBag.Status.Contains("Success"))
        {
            <p class='alert alert-success alert-dismissable text-center' id='alert'>
                @ViewBag.Reason
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </p>
        }
    }

    <br />
    <div class="row p-3 border">
        <input type="hidden" asp-for="RoomReservationUser.UserId" />
        <input type="hidden" asp-for="RoomReservationUser.EntryBy" />
        <input type="hidden" asp-for="RoomReservationUser.EntryDate" />
        <input type="hidden" asp-for="ClockStart" id="clockstart_" />
        <input type="hidden" asp-for="ClockEnd" id="clockend_" />
        <input type="hidden" asp-for="StartDateValue" id="startDate_" />
        <input type="hidden" asp-for="EndDateValue" id="endDate_" />
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">         
                @Html.LabelFor(model => model.RoomReservationUser.RoomReservationAdmin.RoomName, "Nama Ruangan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <div class="input-group">
                        <input type="hidden" asp-for="RoomReservationUser.RoomReservationAdmin.Id" id="RoomId" />
                        <input asp-for="RoomReservationUser.RoomReservationAdmin.RoomName" id="RoomName" class="form-control" disabled />

                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#lookupRoomAdmin" style="width:145px" id="btn-lookuproomadmin"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

        </div>

   
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.RoomReservationUser.RoomReservationAdmin.LocationName, "Lokasi Gedung", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="RoomReservationUser.RoomReservationAdmin.LocationName" class="form-control" style="row-gap" id="LocationName" disabled />
                </div>
            </div>

        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.RoomReservationUser.Study, "Mata Kuliah", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="RoomReservationUser.Study" class="form-control" style="row-gap" />
                </div>
            </div>

        </div>
      
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.RoomReservationUser.Dosen, "Dosen", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="RoomReservationUser.Dosen" class="form-control" style="row-gap" />
                </div>
            </div>

        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
      
                @Html.LabelFor(model => model.StartDate, "Tanggal Peminjaman", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-6">
                    <input asp-for="StartDate" id="startDateShow" class="form-control" style="row-gap" disabled />
                </div>
              @*  <div class="col-4">
                    <input asp-for="ClockStart" type="text" id="timepickerStart" class="form-control" disabled />
                </div>*@

            </div>

        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.ClockStart, "Mulai jam", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-4">                    
                    <input asp-for="ClockStart" type="text" id="timepickerStart" class="form-control" disabled />
                </div>
                @Html.LabelFor(model => model.ClockEnd, "Sampai jam", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-4">
                    <input asp-for="ClockEnd" type="text" id="timepickerEnd" class="form-control" disabled />
                </div>



            </div>

        </div>

       @* <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.EndDate, "Tanggal Selesai", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-6">
                    <input asp-for="EndDate" id="endDate" class="form-control" style="row-gap" disabled />
                </div>
                <div class="col-4">
                    <input asp-for="ClockEnd" type="text" id="timepickerEnd" class="form-control" disabled />
                </div>

            </div>

        </div>*@

        <div class="col-12 pt-2">
            <div class="form-group row">         
                @Html.LabelFor(model => model.RoomReservationUser.Description, "Keperluan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <textarea asp-for="RoomReservationUser.Description" class="form-control"></textarea>
                </div>
            </div>

        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">             
                @Html.LabelFor(model => model.RoomReservationUser.ApproveBy, "Mengetahui", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input asp-for="RoomReservationUser.ApproveBy" class="form-control" style="row-gap" />
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                @Html.LabelFor(model => model.RoomReservationUser.RefFile, "Upload File", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-10">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>

        </div>
        <br />

        <div class="form-group margin-bottom-2 pt-2">

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                @if (@ViewBag.Status.Contains("Success"))
                {
                    <a asp-action="Index" class="btn btn-info form-control" style="width:145px">Cek Pemesanan</a>
                }
                else
                {
                    <button type="submit" id="btnSave" class="btn btn-primary form-control" style="width:145px">Pesan Ruangan</button>
                }
            </div>
        </div>

    </div>


</form>

<!-- Modal -->
<div class="modal fade" id="lookupRoomAdmin" tabindex="-1" aria-labelledby="lookupRoomAdminLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lookupRoomAdminLabel">Cari Ruangan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <br />
                <div class="p-4 border rounded">
                    <table id="tblDataRoom" class="table table-striped table-bordered table-hover table-striped dataTable" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th>
                                    Name Ruangan
                                </th>
                                <th>
                                    Lokasi Gedung
                                </th>
                                <th>
                                    Tanggal Peminjaman
                                </th>
                                <th>
                                    Waktu
                                </th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                              @*  <th style="display:none"></th>*@
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

   
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">   

        $(document).ready(function () {
            loadDataRoom();
        });
        function loadDataRoom() {
            dataTable = $('#tblDataRoom').DataTable({
                "ajax": {
                    "url": "/Users/RoomReservation/GetAllRoomAndLocationClassRoom"
                },
                "columns": [
                    { "data": "name_of_room", "autoWidth": true },
                    { "data": "name_of_location", "autoWidth": true },
                    { "data": "startdateshow", "autoWidth": true },
                    { "data": "clockstart_clockend", "autoWidth": true },
                    { "data": "id", "autoWidth": true },
                    { "data": "startdate", "autoWidth": true },
                    { "data": "enddate", "autoWidth": true },
                    { "data": "clockstart", "autoWidth": true },
                    { "data": "clockend", "autoWidth": true },
                    //{ "data": "flag", "autoWidth": true },
                   
                ],
                "createdRow": function (row, data, index) {
                    $(row).attr('onclick', 'select_row(this)');
                    $(row).attr('data-bs-dismiss', 'modal');
                    $('td', row).eq(4).attr('style', 'display:none;');
                    $('td', row).eq(5).attr('style', 'display:none;');
                    $('td', row).eq(6).attr('style', 'display:none;');
                    $('td', row).eq(7).attr('style', 'display:none;');
                    $('td', row).eq(8).attr('style', 'display:none;');
                    //$('td', row).eq(9).attr('style', 'display:none;');
                },
            });
        }

        function select_row(obj) {
            var name_of_room = $('td', obj).eq(0).html().trim();
            var name_of_location = $('td', obj).eq(1).html().trim();
            var id_of_room = $('td', obj).eq(4).html().trim();
            var startdate_show = $('td', obj).eq(2).html().trim();

            var startdate = $('td', obj).eq(5).html().trim();
            var enddate = $('td', obj).eq(6).html().trim();            
            var clockstart = $('td', obj).eq(7).html().trim();
            var clockend = $('td', obj).eq(8).html().trim();      
            $('#RoomName').val(name_of_room);
            $('#LocationName').val(name_of_location);
            $('#RoomId').val(id_of_room);
            $('#startDateShow').val(startdate_show);
            $('#endDate').val(enddate);
            $('#timepickerStart').val(clockstart);
            $('#timepickerEnd').val(clockend);    
           
            $('#clockstart_').val(clockstart);
            $('#clockend_').val(clockend);
            $('#startDate_').val(startdate);
            $('#endDate_').val(enddate);
            $("#btnSave").removeAttr("disabled");
            //var flag = $('td', obj).eq(7).html().trim();
        }
    </script>
}


