@model E_OneWeb.Models.Personal

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "View Personal";
}

<br />
<div class="row"> 
    <br />
    <input type="hidden" value="@ViewBag.img" />
    <div class="row p-3 border">

        <div class="col-12 border-bottom py-2">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-md-6">
            <div class="form-floating py-2">
                <input asp-for="UserName" class="form-control" placeholder="User Name" disabled />
                <label class="form-label">User Login</label>
            </div>

            <div class="form-floating py-2">
                <input asp-for="FullName" placeholder="Name Lengkap" class="form-control" disabled />
                <label class="form-label">Name Lengkap</label>
            </div>

            <div class="form-floating py-2">
                <input asp-for="NIM" placeholder="NIM" class="form-control" disabled />
                <label class="form-label">NIM</label>
            </div>

            <div class="form-floating py-2">
                <input asp-for="Prodi" class="form-control" placeholder="Prodi" disabled />
                <label class="form-label">Prodi</label>

            </div>

            <div class="form-floating py-2">
                <input asp-for="Fakultas" class="form-control" placeholder="Fakultas" disabled />
                <label class="form-label">Fakultas</label>

            </div>

            <div class="form-floating py-2">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" disabled />
                <label class="form-label">Phone Number</label>
            </div>

        </div>
        <div class="col-md-6">
         @*     <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="card" style="width: 18rem;">
                    <img class="rounded float-end" src="@Model.Photo" style="border-radius:5px; border:1px solid #bbb9b9">
                </div>
            </div> *@
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                @if (@ViewBag.img != null)
                {
                    <div class="card" style="width: 18rem;">
                        <img class="rounded float-end" src="@Model.Photo" style="border-radius:5px; border:1px solid #bbb9b9">
                    </div>
                }
                else
                {
                    <div class="card" style="width: 18rem;">
                        <img class="rounded float-end" src="https://placehold.co/300x400/png" style="border-radius:5px; border:1px solid #bbb9b9">
                    </div>                  
                }
            </div>
        </div>


        <br />


        <div class="form-group row py-4">
            <div class="col-5 offset-5">
                <div class="row">
                    <div class="col">
                        <a asp-action="Index" style="width:215px" class="btn btn-success form-control">Back to List</a>
                    </div>

                </div>
            </div>
        </div>


    </div>



</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
       
    </script>


}



